.preto {
    color: rgb(100, 98, 98);
}

.a {
    background-color: rgba(212, 212, 212, 0.829)
}

.fundocinza {
    background-color: #e9e6e6;
}

.accordion-button:not(.collapsed) {
    background-color: #eeeeee;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

.list-group {
    background-color: rgb(211, 211, 211);
}

.accordion-item {
    background-color: rgb(211, 211, 211);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

.fundo2 {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    opacity: 80%;
}

.logo {
    padding: 535px 0px 0px 440px !important;
    margin-top: 35px;
}