body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;
    background: #FFF;
}


@media screen and (max-height: 767px) {
    .fundooo {
        margin: 0%;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }
    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }
    .login-form {
        margin-top: 80%;
    }
    .register-form {
        margin-top: 20%;
    }
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}


.btn-secondary {
    color: rgb(255, 255, 255) !important;
    background-color: #000000 !important;
    border-color: #00000046 !important;
}


.fundooo {
    background-image: url(../img/download.jpg);
}

.textmenu {
    color: black;
}

.fonte {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #183f79;
    border-color: #14438a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #13305c;
    border-color: #14438a;
}

.preto {
    color: rgb(100, 98, 98);
}

.a {
    background-color: rgba(212, 212, 212, 0.829)
}

.fundocinza {
    background-color: #e9e6e6;
}

.accordion-button:not(.collapsed) {
    background-color: #eeeeee;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

.list-group {
    background-color: rgb(211, 211, 211);
}

.accordion-item {
    background-color: rgb(211, 211, 211);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

 
.logo {
    padding: 535px 0px 0px 440px !important;
    margin-top: 35px;
}
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color:transparent !important;
}