.bold{
    font-weight: normal;
font-weight: bold;
}
h6{
margin:0px;
}
.margemmodal{
    margin:5% 5% 5% 5%;
}
.form-select-modal {
    padding:0% !important;
    
}

.dropdownmes {
    padding: 50px;
}
